[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch-rocm"
url = "https://download.pytorch.org/whl/rocm7.2"
verify_ssl = true

[packages]
psutil = "*"
numpy = "*"
scipy = "*"
pandas = "*"
triton-rocm = {version = "==3.7.0", index = "pytorch-rocm"}
torch = {version = "==2.12.0+rocm7.2", index = "pytorch-rocm"}
torchvision = {version = "==0.27.0+rocm7.2", index = "pytorch-rocm"}
lightning = "==2.6.1"
torchmetrics = "==1.9.0"
torch-fidelity = "*"
wandb = "*"
gdown = "*"
rich = "*"
diffusers = "==0.38.0"
datasets = "==4.8.4"
transformers = "==5.8.1"
sentence-transformers = "*"
ninja = "*"
#flash-attn = {file = "https://github.com/HenryJia/ML-helpers/raw/main/flash-attention/rocm7.2/flash_attn-2.8.3-py3-none-any.whl"}
torchdiffeq = "*"
webdataset = "*"

[requires]
python_version = "3.12"

[dev-packages]
